<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="watchman.mybatis">
    <select id="selectVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE">
    	SELECT * FROM VEHICLE
    	WHERE (#{LICENSE} = "" OR LICENSE = #{LICENSE})
    		AND (#{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID})
    	ORDER BY VEHICLE_ID
    </select>
    <insert id="insertVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" useGeneratedKeys="true" keyProperty="VEHICLE_ID">
    	INSERT INTO VEHICLE(LICENSE, IS_NOTIFIABLE) VALUES(#{LICENSE}, #{IS_NOTIFIABLE})
    </insert>
    <insert id="insertHistory" parameterType="com.onnurimotors.wm.model.HISTORY">
    	INSERT INTO HISTORY(VEHICLE_ID, DATE_VISIT, TIME_VISIT) VALUES(#{VEHICLE_ID}, #{DATE_VISIT}, #{TIME_VISIT})
    </insert>
    <select id="selectHistory" parameterType="com.onnurimotors.wm.model.HISTORY" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT * FROM HISTORY WHERE #{HISTORY_ID} = -1 OR HISTORY_ID = #{HISTORY_ID}
    </select>
    <select id="selectHistoryVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE_HISTORY">
    	SELECT V.*, H.* FROM VEHICLE V, HISTORY H WHERE V.VEHICLE_ID = H.VEHICLE_ID
			AND (#{LICENSE} = "" OR V.LICENSE = #{LICENSE})
		ORDER BY H.DATE_VISIT DESC, H.TIME_VISIT DESC
    </select>
    <select id="selectRecentHistoryVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE_HISTORY">
    	SELECT V.*, H.* FROM VEHICLE V, HISTORY H WHERE V.VEHICLE_ID = H.VEHICLE_ID
			AND date('now') = H.DATE_VISIT
		ORDER BY H.DATE_VISIT DESC, H.TIME_VISIT DESC
		LIMIT 5
    </select>
    <insert id="insertEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE">
    	INSERT INTO EMPLOYEE(EMPLOYEE_ID, KAKAO_ACCOUNT, IS_RECEIVING_KAKAO, NAME) VALUES(#{EMPLOYEE_ID}, #{KAKAO_ACCOUNT}, #{IS_RECEIVING_KAKAO}, #{NAME})
    </insert>
    <select id="selectEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE" resultType="com.onnurimotors.wm.model.EMPLOYEE">
    	SELECT * FROM EMPLOYEE WHERE #{EMPLOYEE_ID} = -1 OR EMPLOYEE_ID = #{EMPLOYEE_ID}
    </select>
    <select id="selectVehicleManagement" parameterType="com.onnurimotors.wm.model.VEHICLE_MANAGEMENT" resultType="com.onnurimotors.wm.model.VEHICLE_MANAGEMENT">
    	SELECT * FROM VEHICLE_MANAGEMENT WHERE (#{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID}) AND (#{MANAGEMENT_ID} = -1 OR MANAGEMENT_ID = #{MANAGEMENT_ID})
    </select>
    <select id="selectManagement" parameterType="com.onnurimotors.wm.model.MANAGEMENT" resultType="com.onnurimotors.wm.model.MANAGEMENT">
    	SELECT * FROM MANAGEMENT WHERE #{MANAGEMENT_ID} = -1 OR MANAGEMENT_ID = #{MANAGEMENT_ID}
    </select>
    <select id="selectHistoryVehicleCondition" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE_HISTORY">
    	SELECT V.*, H.* FROM VEHICLE V, HISTORY H WHERE V.VEHICLE_ID = H.VEHICLE_ID
			AND (#{LICENSE} = "" OR V.LICENSE = #{LICENSE})
			AND (#{FROM_DATE} = "" OR H.DATE_VISIT &gt;= #{FROM_DATE})
			AND (#{TO_DATE} = "" OR H.DATE_VISIT &lt;= #{TO_DATE})
		ORDER BY H.DATE_VISIT DESC, H.TIME_VISIT DESC
		LIMIT #{FROM_LIMIT}, #{NUM_LIMIT}
    </select>
    <select id="selectManagementOfVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.MANAGEMENT">
    	SELECT M.* FROM MANAGEMENT M, VEHICLE_MANAGEMENT VM	WHERE M.MANAGEMENT_ID = VM.MANAGEMENT_ID
    		AND VM.VEHICLE_ID = #{VEHICLE_ID}
    	ORDER BY M.MANAGEMENT_ID DESC
    	LIMIT #{FROM_LIMIT}, #{NUM_LIMIT}
    </select>
    <update id="updateVehicleIsNotifiable" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET IS_NOTIFIABLE = #{IS_NOTIFIABLE} WHERE VEHICLE_ID = #{VEHICLE_ID} 
    </update>
    <update id="updateVehicleModel" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET MODEL = #{MODEL} WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <select id="selectMoreVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE">
    	SELECT * FROM VEHICLE
    	WHERE (#{VEHICLE_ID} = -1 OR VEHICLE_ID > #{VEHICLE_ID})
    	ORDER BY VEHICLE_ID
    </select>
</mapper>