<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="watchman.mybatis">
    <select id="selectVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE">
    	SELECT * FROM VEHICLE
    	WHERE (#{LICENSE} = "" OR LICENSE LIKE #{LICENSE})
    		AND (#{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID})
    	ORDER BY VEHICLE_ID
    </select>
    <insert id="insertVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" useGeneratedKeys="true" keyProperty="VEHICLE_ID">
    	INSERT INTO VEHICLE(LICENSE, IS_NOTIFIABLE, MODEL, USER_NAME, BIRTH, PHONE_NUMBER, COMMENT) VALUES(#{LICENSE}, #{IS_NOTIFIABLE}, #{MODEL}, #{USER_NAME}, #{BIRTH}, #{PHONE_NUMBER}, #{COMMENT})
    </insert>
    <insert id="insertHistory" parameterType="com.onnurimotors.wm.model.HISTORY">
    	INSERT INTO HISTORY(VEHICLE_ID, DATE_VISIT, TIME_VISIT) VALUES(#{VEHICLE_ID}, #{DATE_VISIT}, #{TIME_VISIT})
    </insert>
    <select id="selectHistory" parameterType="com.onnurimotors.wm.model.PARAMETER_HISTORY" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT * FROM HISTORY
    	WHERE (#{HISTORY_ID} = -1 OR HISTORY_ID = #{HISTORY_ID})
    		AND (#{DATE_VISIT} = '' OR DATE_VISIT = #{DATE_VISIT})
    		AND (#{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID})
    	ORDER BY HISTORY_ID DESC
    	LIMIT #{PAGE}, #{SIZE_PAGE}
    </select>
    <select id="selectAllHistory" parameterType="com.onnurimotors.wm.model.PARAMETER_HISTORY" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT * FROM HISTORY
    	WHERE (#{HISTORY_ID} = -1 OR HISTORY_ID = #{HISTORY_ID}) AND (#{DATE_VISIT} = "" OR DATE_VISIT = #{DATE_VISIT})
    	ORDER BY HISTORY_ID DESC
    </select>
    <select id="selectAllHistoryVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE_HISTORY">
    	SELECT V.*, H.* FROM VEHICLE V, HISTORY H WHERE V.VEHICLE_ID = H.VEHICLE_ID
			AND (#{LICENSE} = "" OR V.LICENSE = #{LICENSE})
		ORDER BY H.DATE_VISIT DESC, H.TIME_VISIT DESC
    </select>
    <select id="selectRecentHistoryVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE_HISTORY">
    	SELECT V.*, H.* FROM VEHICLE V, HISTORY H WHERE V.VEHICLE_ID = H.VEHICLE_ID
			AND date('now') = H.DATE_VISIT
		ORDER BY H.DATE_VISIT DESC, H.TIME_VISIT DESC
		LIMIT 5
    </select>
    <insert id="insertEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE">
    	INSERT INTO EMPLOYEE(KAKAO_ACCOUNT, IS_RECEIVING_KAKAO, NAME, PID, PHONE_NUMBER) VALUES(#{KAKAO_ACCOUNT}, #{IS_RECEIVING_KAKAO}, #{NAME}, #{PID}, #{PHONE_NUMBER})
    </insert>
    <select id="selectEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE" resultType="com.onnurimotors.wm.model.EMPLOYEE">
    	SELECT * FROM EMPLOYEE WHERE #{EMPLOYEE_ID} = -1 OR EMPLOYEE_ID = #{EMPLOYEE_ID}
    </select>
    <select id="selectHistoryManagement" parameterType="com.onnurimotors.wm.model.HISTORY_MANAGEMENT" resultType="com.onnurimotors.wm.model.HISTORY_MANAGEMENT">
    	SELECT * FROM HISTORY_MANAGEMENT WHERE (#{DATE_VISIT} = '' OR DATE_VISIT = #{DATE_VISIT}) AND (#{MANAGEMENT_ID} = -1 OR MANAGEMENT_ID = #{MANAGEMENT_ID})
    </select>
    <select id="selectManagement" parameterType="com.onnurimotors.wm.model.MANAGEMENT" resultType="com.onnurimotors.wm.model.MANAGEMENT">
    	SELECT * FROM MANAGEMENT WHERE #{MANAGEMENT_ID} = -1 OR MANAGEMENT_ID = #{MANAGEMENT_ID}
    </select>
    <select id="selectHistoryVehicleCondition" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE_HISTORY">
    	SELECT V.*, H.* FROM VEHICLE V, HISTORY H WHERE V.VEHICLE_ID = H.VEHICLE_ID
			AND (#{LICENSE} = "" OR V.LICENSE = #{LICENSE})
			AND (#{FROM_DATE} = "" OR H.DATE_VISIT &gt;= #{FROM_DATE})
			AND (#{TO_DATE} = "" OR H.DATE_VISIT &lt;= #{TO_DATE})
			AND (#{HISTORY_ID} = -1 OR H.HISTORY_ID = #{HISTORY_ID})
		ORDER BY H.DATE_VISIT DESC, H.TIME_VISIT DESC
		LIMIT #{FROM_LIMIT}, #{NUM_LIMIT}
    </select>
    <select id="selectManagementOfVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.MANAGEMENT">
    	SELECT M.*, HM.* FROM MANAGEMENT M, HISTORY_MANAGEMENT HM WHERE M.MANAGEMENT_ID = HM.MANAGEMENT_ID AND HM.VEHICLE_ID = #{VEHICLE_ID}
    	ORDER BY M.MANAGEMENT_ID DESC
    </select>
    <update id="updateVehicleIsNotifiable" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET IS_NOTIFIABLE = #{IS_NOTIFIABLE} WHERE VEHICLE_ID = #{VEHICLE_ID} 
    </update>
    <update id="updateVehicleModel" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET MODEL = #{MODEL} WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <update id="updateVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET IS_NOTIFIABLE = #{IS_NOTIFIABLE}, MODEL = #{MODEL}, USER_NAME = #{USER_NAME}, BIRTH = #{BIRTH}, PHONE_NUMBER = #{PHONE_NUMBER}, COMMENT = #{COMMENT} 
    	WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <delete id="deleteVehicle" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	DELETE FROM VEHICLE WHERE VEHICLE_ID = #{VEHICLE_ID}
    </delete>
    <delete id="deleteHistory" parameterType="com.onnurimotors.wm.model.HISTORY">
    	DELETE FROM HISTORY WHERE HISTORY_ID = #{HISTORY_ID}
    </delete>
    <select id="selectVehiclePage" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE">
    	SELECT * FROM VEHICLE
    	WHERE (#{LICENSE} = "" OR LICENSE LIKE #{LICENSE})
    		AND (#{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID})
    	ORDER BY VEHICLE_ID
    	LIMIT #{FROM_LIMIT}, #{NUM_LIMIT}
    </select>
    <select id="selectAllVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.VEHICLE">
    	SELECT * FROM VEHICLE
    	WHERE (#{LICENSE} = "" OR LICENSE = #{LICENSE})
    		AND (#{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID})
    	ORDER BY VEHICLE_ID
    </select>
    <update id="updateVehicleUserName" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET USER_NAME = #{USER_NAME} WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <update id="updateVehiclePhoneNumber" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET PHONE_NUMBER = #{PHONE_NUMBER} WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <update id="updateVehicleBirth" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET BIRTH = #{BIRTH} WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <update id="updateVehicleComment" parameterType="com.onnurimotors.wm.model.VEHICLE">
    	UPDATE VEHICLE SET COMMENT = #{COMMENT} WHERE VEHICLE_ID = #{VEHICLE_ID}
    </update>
    <insert id="insertManagement" parameterType="com.onnurimotors.wm.model.MANAGEMENT" useGeneratedKeys="true" keyProperty="MANAGEMENT_ID">
    	INSERT INTO MANAGEMENT(COMMENT) VALUES(#{COMMENT})
    </insert>
    <insert id="insertHistoryManagement" parameterType="com.onnurimotors.wm.model.HISTORY_MANAGEMENT">
    	INSERT INTO HISTORY_MANAGEMENT(VEHICLE_ID, DATE_VISIT, MANAGEMENT_ID)
    		VALUES(#{VEHICLE_ID}, #{DATE_VISIT}, #{MANAGEMENT_ID})
    </insert>
    <delete id="deleteManagement" parameterType="com.onnurimotors.wm.model.HISTORY_MANAGEMENT">
    	DELETE FROM MANAGEMENT
    	WHERE (#{MANAGEMENT_ID} = -1 OR MANAGEMENT_ID = #{MANAGEMENT_ID})
    		AND ((#{DATE_VISIT} = '' AND #{VEHICLE_ID} = -1) OR MANAGEMENT_ID
    			IN (SELECT MANAGEMENT_ID FROM HISTORY_MANAGEMENT
    				WHERE DATE_VISIT = #{DATE_VISIT} AND VEHICLE_ID = #{VEHICLE_ID}))
    </delete>
    <delete id="deleteHistoryManagement" parameterType="com.onnurimotors.wm.model.HISTORY_MANAGEMENT">
    	DELETE FROM HISTORY_MANAGEMENT
    	WHERE (MANAGEMENT_ID = #{MANAGEMENT_ID} OR #{MANAGEMENT_ID} = -1)
    		AND ((#{DATE_VISIT} = '' AND #{VEHICLE_ID} = -1)
    			OR DATE_VISIT = #{DATE_VISIT} AND VEHICLE_ID = #{VEHICLE_ID})
    </delete>
    <select id="selectEmployeePage" parameterType="com.onnurimotors.wm.model.EMPLOYEE" resultType="com.onnurimotors.wm.model.EMPLOYEE">
    	SELECT * FROM EMPLOYEE
    	WHERE (#{NAME} = "" OR NAME = #{NAME})
    		AND (#{EMPLOYEE_ID} = -1 OR EMPLOYEE_ID = #{EMPLOYEE_ID})
    	ORDER BY EMPLOYEE_ID
    	LIMIT #{FROM_LIMIT}, #{NUM_LIMIT}
    </select>
    <select id="selectAllEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE" resultType="com.onnurimotors.wm.model.EMPLOYEE">
    	SELECT * FROM EMPLOYEE
    	WHERE (#{NAME} = "" OR NAME = #{NAME})
    		AND (#{EMPLOYEE_ID} = -1 OR EMPLOYEE_ID = #{EMPLOYEE_ID})
    	ORDER BY EMPLOYEE_ID
    </select>
    <update id="updateEmployeeIsReceivingKakao" parameterType="com.onnurimotors.wm.model.EMPLOYEE">
    	UPDATE EMPLOYEE SET IS_RECEIVING_KAKAO = #{IS_RECEIVING_KAKAO} WHERE EMPLOYEE_ID = #{EMPLOYEE_ID} 
    </update>
    <update id="updateEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE">
    	UPDATE EMPLOYEE SET KAKAO_ACCOUNT = #{KAKAO_ACCOUNT},
    		IS_RECEIVING_KAKAO = #{IS_RECEIVING_KAKAO},
    		PHONE_NUMBER = #{PHONE_NUMBER},
    		NAME = #{NAME}
    	WHERE EMPLOYEE_ID = #{EMPLOYEE_ID}
    </update>
    <delete id="deleteEmployee" parameterType="com.onnurimotors.wm.model.EMPLOYEE">
    	DELETE FROM EMPLOYEE WHERE EMPLOYEE_ID = #{EMPLOYEE_ID}
    </delete>
    <insert id="createEmployeeTable">
    	CREATE TABLE EMPLOYEE (
			EMPLOYEE_ID INTEGER PRIMARY KEY AUTOINCREMENT,
			KAKAO_ACCOUNT VARCHAR(50) NULL,
			IS_RECEIVING_KAKAO INTEGER NOT NULL DEFAULT '0',
			NAME VARCHAR(32) NULL DEFAULT NULL,
			PID VARCHAR(50) NULL DEFAULT NULL,
			PHONE_NUMBER VARCHAR(20) NULL DEFAULT NULL
		)
    </insert>
    <insert id="createManagementTable">
    	CREATE TABLE MANAGEMENT (
			MANAGEMENT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
			COMMENT VARCHAR(1024) NOT NULL
		)
    </insert>
    <insert id="createHistoryManagementTable">
    	CREATE TABLE HISTORY_MANAGEMENT (
			VEHICLE_ID INTEGER NO NULL,    	
			DATE_VISIT DATE NOT NULL,
			MANAGEMENT_ID INTEGER NOT NULL,
			PRIMARY KEY (VEHICLE_ID, DATE_VISIT, MANAGEMENT_ID)
		)
    </insert>
    <insert id="createVehicleTable">
    	CREATE TABLE VEHICLE (
			VEHICLE_ID INTEGER PRIMARY KEY AUTOINCREMENT,
			LICENSE VARCHAR(64) NOT NULL,
			IS_NOTIFIABLE INTEGER NOT NULL,
			MODEL VARCHAR(256) NULL DEFAULT NULL,
			USER_NAME VARCHAR(64) NULL DEFAULT NULL,
			BIRTH DATE NULL,
			PHONE_NUMBER VARCHAR(64) NULL,
			COMMENT VARCHAR(1024) NULL DEFAULT NULL
		)
    </insert>
    <insert id="createHistoryTable">
    	CREATE TABLE HISTORY (
			HISTORY_ID INTEGER PRIMARY KEY AUTOINCREMENT,
			VEHICLE_ID INTEGER NOT NULL,
			DATE_VISIT DATE NOT NULL,
			TIME_VISIT TIME NOT NULL
		)
    </insert>
    <delete id="dropManagementTable">
    	DROP TABLE MANAGEMENT
    </delete>
    <delete id="dropHistoryManagementTable">
    	DROP TABLE HISTORY_MANAGEMENT
    </delete>
    <delete id="dropVehicleTable">
    	DROP TABLE VEHICLE
    </delete>
    <delete id="dropHistoryTable">
    	DROP TABLE HISTORY
    </delete>
    <delete id="dropEmployeeTable">
    	DROP TABLE EMPLOYEE
    </delete>
    <select id="selectReceivers" resultType="com.onnurimotors.wm.model.EMPLOYEE">
    	SELECT * FROM EMPLOYEE WHERE IS_RECEIVING_KAKAO = 1
    </select>
    <update id="updateManagement" parameterType="com.onnurimotors.wm.model.MANAGEMENT">
    	UPDATE MANAGEMENT SET COMMENT = #{COMMENT} WHERE MANAGEMENT_ID = #{MANAGEMENT_ID}
    </update>
    <select id="selectAllDateVisitByVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT DISTINCT DATE_VISIT FROM HISTORY
    	WHERE #{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID}
    	ORDER BY DATE_VISIT DESC
    </select>
    <select id="selectAllManagementByDateVisitVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_HISTORY" resultType="com.onnurimotors.wm.model.MANAGEMENT">
    	SELECT M.* FROM MANAGEMENT M, HISTORY_MANAGEMENT HM
    	WHERE M.MANAGEMENT_ID = HM.MANAGEMENT_ID
    		AND HM.DATE_VISIT = #{DATE_VISIT} AND HM.VEHICLE_ID = #{VEHICLE_ID}
    	ORDER BY M.MANAGEMENT_ID DESC
    </select>
    <select id="selectEmployeeByPid" parameterType="com.onnurimotors.wm.model.EMPLOYEE" resultType="com.onnurimotors.wm.model.EMPLOYEE">
    	SELECT * FROM EMPLOYEE WHERE PID = #{PID}
    </select>
    <update id="modifyEmployeeTable">
    	ALTER TABLE EMPLOYEE ADD PID INTEGER, ADD PHONE_NUMBER VARCHAR(20)
    </update>
    <delete id="dropVehicleManagementTable">
    	DROP TABLE VEHICLE_MANAGEMENT
    </delete>
    <select id="selectPrevHistory" parameterType="com.onnurimotors.wm.model.PARAMETER_HISTORY" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT P.* FROM HISTORY H, HISTORY P
    	WHERE H.HISTORY_ID = #{HISTORY_ID} AND H.VEHICLE_ID = P.VEHICLE_ID
    		AND P.DATE_VISIT &lt; H.DATE_VISIT
    	ORDER BY P.DATE_VISIT DESC
    	LIMIT 1
    </select>
    <select id="selectNextHistory" parameterType="com.onnurimotors.wm.model.PARAMETER_HISTORY" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT P.* FROM HISTORY H, HISTORY P
    	WHERE H.HISTORY_ID = #{HISTORY_ID} AND H.VEHICLE_ID = P.VEHICLE_ID
    		AND P.DATE_VISIT &gt; H.DATE_VISIT
    	ORDER BY P.DATE_VISIT ASC
    	LIMIT 1
    </select>
    <select id="selectManagementDateOfVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.MANAGEMENT_DATE">
    	SELECT M.*, HM.* FROM MANAGEMENT M, HISTORY_MANAGEMENT HM
    	WHERE M.MANAGEMENT_ID = HM.MANAGEMENT_ID AND HM.VEHICLE_ID = #{VEHICLE_ID}
    	ORDER BY M.MANAGEMENT_ID DESC
    </select>
    <select id="selectManagementDate" parameterType="com.onnurimotors.wm.model.MANAGEMENT" resultType="com.onnurimotors.wm.model.MANAGEMENT_DATE">
    	SELECT M.*, HM.* FROM MANAGEMENT M, HISTORY_MANAGEMENT HM
    	WHERE (#{MANAGEMENT_ID} = -1 OR M.MANAGEMENT_ID = #{MANAGEMENT_ID})
    		AND M.MANAGEMENT_ID = HM.MANAGEMENT_ID
    </select>
    <select id="selectAllHistoryByVehicle" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT HISTORY_ID FROM HISTORY
    	WHERE #{VEHICLE_ID} = -1 OR VEHICLE_ID = #{VEHICLE_ID}
    	ORDER BY DATE_VISIT DESC
    </select>
    <select id="selectAllHistoryInDate" parameterType="com.onnurimotors.wm.model.PARAMETER_VEHICLE" resultType="com.onnurimotors.wm.model.HISTORY">
    	SELECT HISTORY_ID FROM HISTORY
    	WHERE (#{FROM_DATE} = '' OR DATE_VISIT &gt; #{FROM_DATE})
    		AND (#{TO_DATE} = '' OR DATE_VISIT &lt; #{TO_DATE})
    </select>
</mapper>